DM_API_KEY=your_datamart_api_key_here
DM_API_SECRET=your_optional_api_secret_here
SIGNING_SECRET=your_withdrawals_signing_secret_here
WEBHOOK_SECRET=your_webhook_secret_here
ADMIN_TOKEN=local_admin_token_for_ui_protection
PORT=4000
